.app {
    display: flex;
}

.sidebar {
    width: 30vw;
    order: 0;
}
div {
    color: black;
    height: 100%;
    text-align: center;
}
div ul {
    padding: 0;
    margin: 0;
}
div li {
    list-style-type: none;
}